Leukemia is the most common malignancy and the second most frequent general cause of childhood death. It is classified as acute lymphoid of the B- or T-lineage being the most prevalent type in children, and as acute myeloid. Although tremendous improvements have been made in the treatment of leukemia in the past few years, there is still a large proportion of patients who do not benefit from the available therapy. The overall survival of pediatric acute lymhoblastic leukemia (ALL) and acute myeloid leukemia (AML) patients treated with the current chemotherapy regimens is above 80 and 70%, respectively

Idea behind the operation(Top 250 data  from GEO2R database which is microarray data  with Accession No GSE4072,  and the platform GPL2695 GEO2R Data(df) :https://www.ncbi.nlm.nih.gov/geo/geo2r/backend/geo2r.cgiand the genes which are  differentially expressed which are about 133 out of 250 rows are differentially expressed  gene_symbol('gs').This gene symbols are fed to the biological tool called STRING:(https://string-db.org/) to find a protein protein interaction this string gives a .tsv file which intern is input to the tool cytoscape cytoscape produces a data file which is named as cytoscape_data1 in the code)
from this cytoscape data a new dataframe is created as df1.then top 10 from cytoscape data are selected as 'b' list
 and 'gs'as 'b' list bothe are compared to find match and i got 2 genes out of 133 in top 10 which are important to study about the lukemia cancer.

In [21]:

import pandas as pd   #simply import pandas 
import numpy as np
#read dataset
df=pd.read_excel(r'E:\CSIR\GEO2R Data.xlsx')

In [ ]:
#pd alias of pandas 
#df name of dataframe

In [4]:
#datframe collection of rows and column

df

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
0,28659,0.419,0.000009,-8.17,-3.82,-3.220,NaN,NaN
1,37828,0.431,0.000026,-7.81,-3.96,-3.812,NaN,NaN
2,37010,0.431,0.000039,-7.42,-3.97,-2.418,NaN,NaN
3,43508,0.431,0.000039,-7.42,-4.17,-4.061,NaN,NaN
4,22218,0.476,0.000065,-6.53,-3.89,-2.338,NaN,NaN
...,...,...,...,...,...,...,...,...
245,36232,1.000,0.013829,2.98,-4.24,0.853,PHC2,polyhomeotic homolog 2 (Drosophila)
246,38008,1.000,0.013854,2.97,-4.24,1.597,FLJ12529,"pre-mRNA cleavage factor I, 59 kDa subunit"
247,28303,1.000,0.013950,2.97,-4.24,1.158,NaN,NaN
248,24730,1.000,0.013954,2.97,-4.24,0.779,NaN,NaN
249,38510,1.000,0.014039,2.97,-4.24,0.832,MBP,myelin basic protein

In [7]:
Gene_symbol=df['Gene.symbol'] #selected particular column which i needed this is nothing but the series with same datatype

In [124]:
#see the type of the Gene_symbol
type(Gene_symbol)

pandas.core.series.Series

In [126]:
#simple opetaion to drop the values which are Nan

df.dropna(inplace=True)
df

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
7,33379,1.0,0.000345,5.29,-3.97,1.520,PPP1R16B,"protein phosphatase 1, regulatory (inhibitor) ..."
9,36322,1.0,0.000534,4.99,-3.99,1.555,C20orf77,chromosome 20 open reading frame 77
11,34718,1.0,0.000678,-4.83,-4.00,-1.335,ACVRL1,activin A receptor type II-like 1
12,17745,1.0,0.000686,4.82,-4.00,1.964,LGALS14,"lectin, galactoside-binding, soluble, 14"
15,28554,1.0,0.001062,-4.98,-4.20,-2.878,TRIM31,tripartite motif-containing 31
...,...,...,...,...,...,...,...,...
243,4784,1.0,0.013692,-2.98,-4.24,-1.476,HPSE,heparanase
244,27747,1.0,0.013696,2.98,-4.24,0.850,ZNF552,zinc finger protein 552
245,36232,1.0,0.013829,2.98,-4.24,0.853,PHC2,polyhomeotic homolog 2 (Drosophila)
246,38008,1.0,0.013854,2.97,-4.24,1.597,FLJ12529,"pre-mRNA cleavage factor I, 59 kDa subunit"
249,38510,1.0,0.014039,2.97,-4.24,0.832,MBP,myelin basic protein

In [130]:
df.columns    #....names of columns

Index(['ID', 'adj.P.Val', 'P.Value', 't', 'B', 'logFC', 'Gene.symbol',
       'Gene.title'],
      dtype='object')

In [127]:
#using pandas we can count the no of entries in particular column or dataset 

(Gene_symbol).count()

133

In [12]:
#i reassigned the Gene_symbol to gs for simple access 
gs=(Gene_symbol).unique()

In [22]:
sort_by_pvalues=np.sort(['P.Values']) #........................sorted the dataframe by column P.Value in ascending order

sort_by_pvalues

In [331]:
df

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.symbol,Gene.title
7,33379,1.0,0.000345,5.29,-3.97,1.520,PPP1R16B,"protein phosphatase 1, regulatory (inhibitor) ..."
9,36322,1.0,0.000534,4.99,-3.99,1.555,C20orf77,chromosome 20 open reading frame 77
11,34718,1.0,0.000678,-4.83,-4.00,-1.335,ACVRL1,activin A receptor type II-like 1
12,17745,1.0,0.000686,4.82,-4.00,1.964,LGALS14,"lectin, galactoside-binding, soluble, 14"
15,28554,1.0,0.001062,-4.98,-4.20,-2.878,TRIM31,tripartite motif-containing 31
...,...,...,...,...,...,...,...,...
243,4784,1.0,0.013692,-2.98,-4.24,-1.476,HPSE,heparanase
244,27747,1.0,0.013696,2.98,-4.24,0.850,ZNF552,zinc finger protein 552
245,36232,1.0,0.013829,2.98,-4.24,0.853,PHC2,polyhomeotic homolog 2 (Drosophila)
246,38008,1.0,0.013854,2.97,-4.24,1.597,FLJ12529,"pre-mRNA cleavage factor I, 59 kDa subunit"
249,38510,1.0,0.014039,2.97,-4.24,0.832,MBP,myelin basic protein

In [309]:
 #....exported new file  CYTOSCAPE FILE

In [26]:
cytoscape_data=pd.read_excel(r'C:\Users\dell\Desktop\cytoscape_data1.xlsx')

In [27]:
cytoscape_sorted=np.sort(['Degree'])#............sorted by degree descenind

In [28]:
cytoscape_data.iloc[1::]

,name,BetweennessCentrality,ClosenessCentrality,NeighborhoodConnectivity,Degree,NumberOfUndirectedEdges
1,AKT1,0.116004,0.491582,17.631579,38,38
2,HDAC2,0.077789,0.467949,14.972973,37,37
3,SRC,0.035786,0.437126,18.515152,33,33
4,HRAS,0.036963,0.433234,18.600000,30,30
5,EGFR,0.039844,0.445122,19.034483,29,29
...,...,...,...,...,...,...
148,ARHGAP33,0.000000,0.290837,22.000000,1,1
149,ARHGAP23,0.000000,0.290837,22.000000,1,1
150,DCAF4,0.000000,0.266910,9.000000,1,1
151,TET3,0.000000,0.304167,22.000000,1,1
152,CD82,0.000000,0.308668,29.000000,1,1

In [29]:
cytoscape_data['Degree'].max() #find highest value in the column using max() function

42

In [30]:
cytoscape_sorted=np.sort(['Degree'], axis=0)

In [31]:
#cytoscape_data

In [32]:
cytoscape_data=pd.DataFrame(cytoscape_data,columns=['name','Degree','BetweennessCentrality','ClosenessCentrality','NeighborhoodConnectivity'])

In [33]:
cytoscape_data    #..created new dataframe with five columns only which are the strong features of the gene

,name,Degree,BetweennessCentrality,ClosenessCentrality,NeighborhoodConnectivity
0,HDAC1,42,0.115025,0.480263,14.523810
1,AKT1,38,0.116004,0.491582,17.631579
2,HDAC2,37,0.077789,0.467949,14.972973
3,SRC,33,0.035786,0.437126,18.515152
4,HRAS,30,0.036963,0.433234,18.600000
...,...,...,...,...,...
148,ARHGAP33,1,0.000000,0.290837,22.000000
149,ARHGAP23,1,0.000000,0.290837,22.000000
150,DCAF4,1,0.000000,0.266910,9.000000
151,TET3,1,0.000000,0.304167,22.000000
152,CD82,1,0.000000,0.308668,29.000000

In [45]:
df1=cytoscape_data

In [46]:
df1.dropna()           #.......again data is cleaned

,name,Degree,BetweennessCentrality,ClosenessCentrality,NeighborhoodConnectivity
0,HDAC1,42,0.115025,0.480263,14.523810
1,AKT1,38,0.116004,0.491582,17.631579
2,HDAC2,37,0.077789,0.467949,14.972973
3,SRC,33,0.035786,0.437126,18.515152
4,HRAS,30,0.036963,0.433234,18.600000
...,...,...,...,...,...
148,ARHGAP33,1,0.000000,0.290837,22.000000
149,ARHGAP23,1,0.000000,0.290837,22.000000
150,DCAF4,1,0.000000,0.266910,9.000000
151,TET3,1,0.000000,0.304167,22.000000
152,CD82,1,0.000000,0.308668,29.000000

In [129]:

# top 10 values are selected for the comparision 
b=df1.loc[0:10].tolist()

In [123]:
for i in range(0,10):
    
    for j in range(0,133): 
        
        if a[j]==b[i]:       
             print("found the match at {}th position".format(j))

found the match at 124th position
found the match at 28th position